.nav-left a {
    padding: 0px 10px;
}

.nav-right a {
    padding: 5px 5px;
}

nav {
    padding: 20px 0px;
}

a {
    text-decoration: none;
    color: black;
    font-size: calc(1.26rem + 0.12vw);
}

