/* Global Styles */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    border-bottom: 2px solid #0000005C;
}

.pointer {
    cursor: pointer;
}

/* Navigation Style */
.nav-left a {
    padding: 0px 10px;
}

.nav-right a {
    padding: 3px 10px;
}

nav {
    padding: 20px 0px;
}

nav a {
    font-size: calc(1rem + 0.12vw);
    border-bottom: 2px solid #00000000;
}

.active {
    color: black;
    border-bottom: 2px solid #0000005C;
}
/* Mobile Sidebar Style */
.sidebar {
    list-style: none;
    height: 100vh;
    width: 280px;
    background-color: aliceblue;
    z-index: 2;
    transform: translateX(-100%);
    transition: all 0.4s;
}

.sidebar li {
    padding: 1rem 2rem;
}

.sidebar--open {
    transform: translateX(0%);
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000037;
    z-index: 1;
    display: none;
}

.backdrop--open {
    display: block;
}
/* Hero Style */
/* .hero {
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
} */

.hero--text {
    /* background-image: linear-gradient(to right, rgb(245,245,245,86%), #ffffff8e); */
    position: absolute;
    top: 106px;
    left: 150px;
}

.hero--text h1 {
    color: black;
    font-weight: 600;
}

.hero--text p {
    color: rgb(0, 0, 0, 31%);
    font-weight: 600;
    word-wrap: break-word;
    inline-size: 400px;
}

.button {
    border-radius: 12px;
    border-style: none;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    align-items: center;
    display: flex;
}



.beli {
    background-color: #FF674D;
}

/* Filter Style */
.filter--input {
    background-color: #bbbbbb;
    border: none;
    border-radius: 5px;
    width: 7rem;
}